<h1>Welcome to Mcards!</h1>
<h4>The place to find Magic:The Gathering cards at amazing prices!</h4>

<% if @cards %>
    <ul>
        <% @cards.each do |card| %>
            <li>
                <%= link_to card.name, "/cards/#{card.id}" %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>no cards!</p>
<% end %>