
<%= image_tag("Magic_Logo") %>

<% if @cards %>
    <ul>
        <% @cards.each do |card| %>
            <li>
                <%= link_to card.name, "/cards/#{card.id}" %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>no cards!</p>
<% end %>